@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

select, input {
  height: 40px;
  background: #fff!important;
  border: 1px solid #d5d5d5;
  padding: 0 12px;
  background: rgba(0,0,0,0.05);
  border-radius: 3px 3px 0 0;
  font-size: 14px;
  width: 90%;
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
