<template>
  <div v-if="isList" class="table">
    <h4 class="app-header__inner container">
      Список пользователей
    </h4>
    <div class="controls flex">
      Сортировка(по алфавиту):
      <select v-model="sortOption">
        <option value="asc">по возрастанию</option>
        <option value="desc">по убыванию</option>
      </select>
      <button @click="clear">Скинуть кэш</button>
    </div>
    <div class="table__header flex">
      <div class="tr" v-for="(row, id) in columns" :key="id">
        {{ row.label }}
      </div>
    </div>
    <div class="table__header flex">
      <div class="tr" v-for="(row, id) in columns" :key="id">
        <input v-if="row.prop === 'name'" placeholder="Поиск" v-model="search">
      </div>
    </div>
    <div
      class="table__row flex"
      v-for="(user, id) in sortedUsers"
      :key="id"
    >
      <div class="tr" v-for="(column, columnId) in columns" :key="columnId">
        <p
          v-if="column.prop === 'email'"
          @click="chooseUser(user)"
          :class="column.prop"
        >
          {{ user.email }}
        </p>
        <p v-else>
          {{ user[column.prop] }}
        </p>
      </div>
      <i @click="deleteUser(user.id)" class="delete material-icons">clear</i>
    </div>
  </div>
  <user-edit v-else class="table" :user="userToChange"/>
</template>

<script>
import {mapActions, mapState} from 'vuex'
import {ROUTE_USER} from '../router'

export default {

  name: 'AppContent',
  components: {
    UserEdit: () => import('@/components/UserEdit')
  },

  data: () => ({
    search: '',
    sortOption: 'asc',
    columns: [
      {
        label: 'Имя',
        prop: 'name'
      },
      {
        label: 'Телефон',
        prop: 'phone'
      },
      {
        label: 'Email',
        prop: 'email'
      }
    ]
  }),

  computed: {
    ...mapState([
      'users'
    ]),
    userToChange () {
      return this.users[this.$route.params.id]
    },
    isList () {
      return this.$route.params.id === undefined
    },
    sortAsc () {
      return this.sortOption === 'asc'
    },
    filteredUsers () {
      // step1: filter users by user.name
      return this.users.filter(user => {
        return new RegExp('(' + this.search + ')', 'i')
          .test(user.name)
      })
    },
    sortedUsers () {
      // step2: sorting users by user.name[default:Asc]
      const vm = this
      if (this.sortAsc) {
        return vm.filteredUsers
          .sort((userA, userB) => userA.name.localeCompare(userB.name))
      } else {
        return vm.filteredUsers
          .sort((userA, userB) => userB.name.localeCompare(userA.name))
      }
    }
  },
  methods: {
    ...mapActions([
      'load',
      'deleteUser'
    ]),
    chooseUser (user) {
      this.$router.push({ name: ROUTE_USER, params: { id: user.id } })
    },
    clear () {
      localStorage.clear()
      this.$router.go()
    }
  },
  created () {
    this.load({url: 'users'})
  }
}
</script>
<style scoped>
.controls {
  margin-bottom: 10px;
  font-size: 14px;
}

button {
  margin-left: 10px;
}

.flex {
  display: flex;
}

.table {
  width: 900px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.table .tr {
  width: 31%;
  text-align: left;
  border: 1px solid #d5d5d5;
  border-right: 1px solid;
  border-right: 0;
  border-top: 0;
  padding: 10px;
}

.table a:nth-child(3n) {
  border-right: 1px solid #d5d5d5;
}

.table__row {
  position: relative;
}

.table__row:hover{
  background-color: #d5d5d5;
}

.table__row .delete {
  position: absolute;
  cursor: pointer;
  margin-top: 25px;
  left: calc(100% + -30px);
}

.table__header {
  border: 1px solid #d5d5d5;
}

.email {
  cursor: pointer;
  color: #5e5ee5;
}

@media (max-width: 900px) {
  .table {
    width: 100%;
  }

  .table a{
    min-width: 30%;
  }
}
</style>
