<template>
  <div class="user-edit">
    <h4 class="app-header__inner container">
      Редактирование данных пользователя
    </h4>
    <router-link to="/">К списку</router-link>
    <div>
      <label v-for="(input, id) in inputs" :key="id">
        <div>{{input.name}}</div>
        <input type="text" v-model="user[input.value]">
      </label>
      <label v-for="(address, id) in addresses" :key="'0' + id">
        <div>{{address.name}}</div>
        <input type="text" v-model="user.address[address.value]">
      </label>
    </div>

<!--    <div>-->
<!--      <label>-->
<!--        Сообщения:-->
<!--        <div v-for="(post, id) in user.posts" :key="id">-->
<!--        <span>-->
<!--          {{ post }}-->
<!--        </span>-->
<!--        </div>-->
<!--      </label>-->
<!--    </div>-->
    <button @click="changeUser(user)">Сохранить</button>
  </div>
</template>

<script>
import {mapActions, mapState} from 'vuex'

export default {

  name: 'UserEdit',
  props: {
    user: {}
  },

  data: () => ({
    isList: true,
    addresses: [
      {
        name: 'Город',
        value: 'city'
      },
      {
        name: 'Страна',
        value: 'country'
      },
      {
        name: 'Улица',
        value: 'streetA'
      }
    ],
    inputs: [
      {
        name: 'Имя',
        value: 'name'
      },
      {
        name: 'Login',
        value: 'username'
      },
      {
        name: 'Email',
        value: 'email'
      },
      {
        name: 'Телефон',
        value: 'phone'
      },
      {
        name: 'website',
        value: 'website'
      }
    ]
  }),

  computed: {
    ...mapState([
      'users'
    ])
  },

  methods: {
    ...mapActions([
      'changeUser'
    ])
  }
}
</script>
<style scoped>
.user-edit {
  margin-right: auto;
}
.user-edit label {
  display: flex;
  padding-bottom: 10px;
  text-align: left;
}
.user-edit label div{
  min-width: 90px;
  margin-top: auto;
  margin-bottom: auto;
}
</style>
